.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 2rem;
}

.informationsPost {
  font-size: 0.875rem;
  color: var(--gray-250);

  display: flex;
  align-items: center;

  time, span {
    display: flex;
    align-items: center;
  }

  time {
    text-transform: capitalize;
  }

  span {
    padding-left: 1.5rem;
  }

  svg {
    margin-right: 0.5rem;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;

  span {
    font-weight: bold;
    padding: 1rem;
    border: 1px solid;
    border-color: var(--pink);
    border-radius: 5px;
  }
}
